.about_section {
  background: linear-gradient(180deg, #fff 42%, #e3e3d5 0);
  padding: 120px 0;
}

.about-title {
  text-transform: uppercase;
  padding: 12px 0;
}
.title-text {
  padding-bottom: 53px;
}
.rating__section {
  padding-top: 120px;
}
.fa-star.checked {
  color: #f0ad4e;
}
.fa-star {
  color: #b1b1b1;
  height: 21px;
  width: 21px;
}
.rating-parent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.rating_title{
  font-size: 49px;
}
.about-rating {
  padding: 8px 0 18px 0;
}
.rating-text {
  padding-top: 12px;
  font-weight: 500;
}
.review-text {
  padding: 24px 0 48px 0;
}
.review-parent {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 25px;
}
.zoom-img{
  /* max-width: 574px; */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* border-radius: 51px; */
}
.zoom-img img{
  /* border-radius: 51px; */
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.zoom-img img:hover{
  transform: scale(1.2);
  cursor: pointer;
  
}

 /* about hero end */
 /* Add custom styles for the thumbnail */
 .video-thumbnail {
  position: relative;
  cursor: pointer;
  overflow: hidden; /* Hide overflowing play icon during animation */
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 3em;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  /* padding: 10px 20px;
  text-align: center; */
  animation: bounceAndFade 3s ease-in-out infinite;
}

@keyframes bounceAndFade {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

}

/* .video-thumbnail:hover img {
  transform: scale(1.1);
} */

.modal-lg, .modal-xl {
  --bs-modal-width: 595px;
}

.iframeClass {
    border: 0;
    height: 330px!important;
    width: 560px!important;
}


/* video-section section end */
/* progress-section section start */
.progress-section{
padding: 120px 0;
}
.progress-text{
  padding-top: 24px;
}

.progress-bar.rounded {
  border-radius: 20px; /* Adjust the border-radius as needed */
  animation: progressAnimation 3s ease forwards;
}
@keyframes progressAnimation {
  from {
      width: 0%;
  }

}
.progress{
  margin-bottom: 48px;
}
.progress:last-child{
  margin-bottom: 0;
}
.progress_heading{
  padding-bottom: 12px;
}
.progress, .progress-stacked {
border-radius: 100px;
background: #EEE;
--bs-progress-height: 5px;
}
.progress-bar.rounded {
  animation: progressAnimation 3s ease forwards;
}
.rounded {
  border-radius: 100px!important;
}
.progress-bar{
  background-color: #9AAB88!important;
}
.heading-parent{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
/* progress-section section end */
/* quality-section section start */
.quality-section{
  padding: 100px 0;
  background: #E3E3D5;
}
.quality-parent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quality-heading{
  text-align: center;
  padding-bottom: 97px;

}
.quality-text{
  text-align: center;
  padding-top: 24px;
}
/* quality-section section end */
/* team-section section satart */
.team-section{
  padding: 120px 0 125px 0;
}
.team-title{
  padding-bottom: 32px;
  text-align: center;
}
.member-name{
  text-align: center;
  padding: 24px 0 6px 0;
}
.member-designation{
  text-align: center;

}
/* team-section section end */
/* =========marquee looping css start =========*/

/* Container to hold the scrolling text */
.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

/* The scrolling text */
.scrollingText2 {
  color: #D9D9D9;
  font-family: Urbanist;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 6.958px;
  text-transform: uppercase;
  animation: scrollText 20s linear infinite; /* Adjust duration for slower animation */
}

/* Keyframes for scrolling animation */
@keyframes scrollText {
  0% {
      transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*========= marquee looping css end =====*/
